body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;

}

.div-1{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #1a1a1a;
    opacity: 80%;
    z-index: 1;
}